body{
color:white;
background:black;
margin:0px;
}

header{
    border-bottom: solid 2px red;
    margin:20px;
    padding: 20px;
    font-size: 32px;
    color: red;
}

.chamada{
    background:rgb(197, 184, 9);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada {
    padding-left: 20px;
    padding-right: 20px;
  }
.chamada-texto{
    margin-right: 5%;
}
body {
    color: red;
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
  }
  h1 {
    font-size: 40px;
  }
  p {
    font-size: 20px;
  }
  .categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
  }

.categoria {
    padding-left: 20px;
    padding-right: 20px;
  }
  img{
    height: 200px;
  }
  .categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
  }

  section{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
  }


.categoria-videos img {
opacity: 0,5;
height: 200px;
}

.categoria-videos img:hover {
opacity: 1.0;
border: 1px solid red;
}

.categoria h2{
  color: rgb(42, 122, 228);
}